@import "mixins";
@import "component";
:root {
    --font-family: "Tanha", sans-serif;
    --body-font: 1rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-family);
}

// shair display
%display {
    @include flex(space-between, center, row-reverse);
}


/**  container initial style */

.nav-container {
    @include coordin(100%, 65px);
    @extend %display;
    background-color: map-get($map: $color, $key: Asphalt);
}

.toggle {
    @include flex(center, center);
    flex: 1 0 10%;
    height: 100%;
}

.Menu {
    @extend %display;
    flex-grow: 2;
    flex-basis: 90%;
    text-align: right;
}